

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1558826636754-2 > div > div {border-width: 0px 1px 1px 0px; border-style: solid;
        }
        .silex-id-1558827071317-10 {top: 240px; left: 20px; height: 20px; width: 80px; font-style: italic; text-align: center;
        }
        .silex-id-1558827105970-11 {top: 290px; left: 20px; height: 20px; width: 100px; font-style: italic; text-align: center;
        }
        .silex-id-1558826636754-2 {top: 100px; left: 20px; height: 220px; width: 380px;
        }
        .silex-id-1558826636754-2 > .CTATTable--row > .CTATTable--cell {width: 94px; height: 43px;
        }
        .silex-id-1558827001597-8 {top: 160px; left: 20px; height: 20px; width: 80px; font-style: italic; text-align: center;
        }
        .silex-id-1558827204731-12 {top: 420px; left: 20px; height: 60px; width: 60px;
        }
        .silex-id-1558827438192-15 {top: 340px; left: 20px; height: 60px; width: 58px;
        }
        .silex-id-1558827040359-9 {top: 200px; left: 20px; height: 20px; width: 80px; font-style: italic; text-align: center;
        }
        .silex-id-1558827601701-17 {top: 149px; left: 123px; height: 29px; width: 80px;
        }
        .silex-id-1558827647160-18 {top: 149px; left: 218px; height: 29px; width: 80px;
        }
        .silex-id-1558827652493-19 {top: 149px; left: 311px; height: 29px; width: 80px;
        }
        .silex-id-1558827751213-20 {top: 192px; left: 123px; height: 29px; width: 80px;
        }
        .silex-id-1558827751220-21 {top: 192px; left: 218px; height: 29px; width: 80px;
        }
        .silex-id-1558827751226-22 {top: 192px; left: 311px; height: 29px; width: 80px;
        }
        .silex-id-1558827780881-23 {top: 236px; left: 123px; height: 29px; width: 80px;
        }
        .silex-id-1558827780892-24 {top: 236px; left: 218px; height: 29px; width: 80px;
        }
        .silex-id-1558827780910-25 {top: 236px; left: 311px; height: 29px; width: 80px;
        }
        .silex-id-1558827811527-26 {top: 282px; left: 123px; height: 29px; width: 80px;
        }
        .silex-id-1558827811534-27 {top: 282px; left: 218px; height: 29px; width: 80px;
        }
        .silex-id-1558827811541-28 {top: 282px; left: 311px; height: 29px; width: 80px;
        }
        .silex-id-1558826698937-3 {top: 112px; left: 133px; height: 20px; width: 60px; text-align: center;
        }
        .silex-id-1558826861584-5 {top: 112px; left: 238px; height: 20px; width: 40px;
        }
        .silex-id-1558828103363-29 {top: 112px; left: 17px; height: 20px; width: 100px; text-align: center;
        }
        .silex-id-1558826883743-6 {top: 112px; left: 321px; height: 20px; width: 60px; text-align: center;
        }
        .silex-id-1558827389299-14 {top: 340px; left: 100px; height: 140px; width: 300px; display: flex; border-width: 0px; border-style: solid;
        }
        .silex-id-1558830414264-30 {top: 100px; left: 460px; height: 220px; width: 240px;
        }
        .silex-id-1558830810456-34 {top: 146px; left: 417px; height: 20px; width: 40px;
        }
        .silex-id-1558830851447-35 {top: 235px; left: 416px; height: 20px; width: 40px;
        }
        .silex-id-1558830755403-32 {top: 323px; left: 514px; height: 20px; width: 40px;
        }
        .silex-id-1558830790964-33 {top: 323px; left: 631px; height: 20px; width: 40px;
        }
        .silex-id-1558826292805-1 {top: 20px; left: 0px; height: 60px; width: 700px; text-align: center;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 706px; height: 495px;
        }
        .silex-id-1558827509975-16 {top: 360px; left: 420px; height: 120px; width: 260px; box-sizing: content-box; padding: 0px; overflow: visible;
        }
        .silex-id-1558827204731-12 > button {background-color: rgb(134, 255, 109); border-color: rgb(50, 103, 46); border-radius: 0px; border-width: 2px; border-style: solid;
        }
        .silex-id-1558827438192-15 > button {border-radius: 0px; border-width: 2px; border-style: solid; background-repeat: no-repeat; background-size: auto;
        }
        .silex-id-1558830755403-32 > input {border-width: 0px; border-style: inset; text-align: center;
        }
        .silex-id-1558830790964-33 > input {border-width: 0px; border-style: inset; text-align: center;
        }
        .silex-id-1558830810456-34 > input {border-width: 0px; border-style: inset; text-align: center;
        }
        .silex-id-1558830851447-35 > input {border-width: 0px; border-style: inset; text-align: center;
        }
        .silex-id-1558827601701-17 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827647160-18 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827652493-19 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827751226-22 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827780910-25 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827811541-28 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827751213-20 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827751220-21 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827780881-23 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827780892-24 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827811527-26 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
        .silex-id-1558827811534-27 > input {border-width: 0px 0px 1px; border-style: solid; border-color: rgb(158, 158, 158); text-align: center;
        }
    